* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.part {
    height: 100vh;
    color: rgb(36, 36, 36);
    text-align: center;
    flex-direction: column;
    display:flex;
    align-items: center;
    justify-content: center;
}

.part-element-wrapper {
    padding: 10px;
    margin: 1px 0;
}

.part-element * {
    margin-bottom: 20px;
}

#part-one {
    background: #38B064;
}

#part-two {
    background:#C483FC;
}

#part-three {
    background: #B08541;
}

img {
    display: block;
    margin: 0 auto;
    border: 3px solid #ddd;
    border-radius: 4px;
    width: 350px;
}

a { 
    text-decoration: none;
}

.part-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.part-element .button {
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    color: white;
    background-color: #0DCAF0;
    width: 200px
}